# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jumia_practical_test\jumia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
